<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
<body>

<!-- Product Add Modal Start -->
<form th:fragment="prAddModal" method="post" action="/product/add" id="form_modal_send">
    <div class="modal fade " id="ProductAddModal" tabindex="-1" aria-labelledby="ProductAddModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl model-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ProductAddModalLabel"><i class="fas fa-capsules"></i> Ürün Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Modal-Structure-From-Start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="align-text-bottom">Ürün Adı:  </label>
                            <input type="text" class="form-control mb-3" id="prname" name="prname" placeholder="">
                        </div>

                        <div class="col-sm-4">
                            <label class=" align-text-bottom"> Ürün Birimi</label>
                            <select id="prunit" name="prunit" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option selected>Birim Seçiniz</option>
                                <option value="1">Adet</option>
                                <option value="2">Kilogram</option>
                                <option value="3">ml</option>
                                <option value="4">mg</option>
                                <option value="5">Kutu</option>
                                <option value="6">Torba</option>
                                <option value="7">Şişe</option>
                                <option value="8">Tablet</option>
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label class="align-text-bottom"> Ürün Tipi</label>
                            <select id="prtype" name="prtype" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option selected>Ürün Tipi Seçiniz</option>
                                <option value="1">Damla</option>
                                <option value="2">Perfüzyonik Çözelti</option>
                                <option value="3">Toz Şampuan</option>
                                <option value="4">Enjeksiyon</option>
                                <option value="5">Hap</option>
                                <option value="6">Jel</option>
                                <option value="7">Krem</option>
                                <option value="8">Mama</option>
                                <option value="9">Tasma</option>
                                <option value="11">Diğer</option>

                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label class="align-text-bottom"> Kategori</label>
                            <select id="prcategory" name="prcategory" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option selected>Kategori Seçiniz</option>
                                <option value="1">İlaç</option>
                                <option value="2">Serum</option>
                                <option value="3">Hijyen</option>
                                <option value="4">Kozmetik</option>
                                <option value="4">Yiyecek</option>
                                <option value="5">Diğer</option>
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label class="align-text-bottom mt-3"> Tedarikçi</label>
                            <select  id="prsupplier" name="prsupplier" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option th:each="item, iter : ${suppliersList}" th:value="${item.suid}" th:text="${item.suname}" ></option>
                            </select>
                        </div>


                        <div class="col-sm-4">
                            <label class="align-text-bottom mt-3"> Ürün Barkodu</label>
                            <input type="text" class="form-control" id="prbarcode" name="prbarcode" placeholder="">
                        </div>

                        <div class="col-sm-4">
                            <label class="align-text-bottom mt-3"> Ürün Kodu</label>
                            <input type="text" class="form-control" id="prcode" name="prcode" placeholder="">
                        </div>

                        <div class="col-sm-4">
                            <label class="align-text-bottom mt-3"> Ürün Alış Fiyatı</label>
                            <input type="number" class="form-control" id="prbuying" name="prbuying" placeholder="">
                        </div>

                        <div class="col-sm-4">
                            <label class="align-text-bottom mt-3"> Ürün Satış Fiyatı</label>
                            <input type="number" class="form-control mb-3" id="prsales" name="prsales" placeholder="">
                        </div>

                        <div class="col-sm-4">
                            <label class="align-text-bottom mt-3"> Aktif</label>
                            <select id="practive" name="practive" class="form-select form-select" aria-label=".form-select-sm example">
                                <option value="1">Aktif</option>
                                <option value="2">Aktif Değil </option>
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label class="align-text-bottom"> KDV %</label>
                            <select id="prtax" name="prtax" class="form-select form-select" aria-label=".form-select-sm example">
                                <option value="1">%1</option>
                                <option value="2">%8</option>
                                <option value="3">%18</option>
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label class="align-text-bottom"> Ürün Satış Fiyatına KDV Dahil Mi?</label>
                            <select id="prtaxincluded" name="prtaxincluded" class="form-select form-select" aria-label=".form-select-sm example">
                                <option value="1">KDV Dahil</option>
                                <option value="2">KDV Dahil Değil</option>
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <label class="align-text-bottom"> Kritik Stok Miktarı</label>
                            <input id="prstock" name="prstock" type="number" class="form-control">
                        </div>



                    </div>
                </div>

                <!-- Modal-Structure-From-End -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Ürünü Ekle</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Product Add Modal End -->

</body>
</html>