<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>



<footer th:fragment="footer" class="sticky-footer bg-white my-auto " >

    <button onclick="topFunction()" id="topBtn" title="Go to top"><i
            class='bx bx-sm bx-up-arrow-alt bx-fade-up bx-flip-horizontal'></i></button>

    <div class="container mt-5 bg-transparent">
        <div class="copyright text-center my-auto">
            <hr class="bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="https://twitter.com/home" class="nav_link"> <i class='bx bxl-twitter'></i> <span
                                class="nav_name">Twitter</span> </a>
                    </div>
                    <div class="col">
                        <a href="https://facebook.com/" class="nav_link"> <i class='bx bxl-facebook'></i> <span
                                class="nav_name">Facebook</span> </a>
                    </div>
                    <div class="col">
                        <a href="https://instagram.com/" class="nav_link"> <i class='bx bxl-instagram'></i> <span
                                class="nav_name">Instagram</span> </a>
                    </div>
                    <div class="col">
                        <a href="mailto:info@hotmail.com" class="nav_link"> <i class='bx bx-mail-send'></i> <span
                                class="nav_name">Mail</span> </a>
                    </div>
                </div>
                <span>Veteriner Teknoloji ® markası ve logosu 556 Sayılı Markaların Korunması Hakkında KHK hükümlerine göre
            korunmaktadır. Site içerik ve fotoğraflar izinsiz kopyalanamaz. © 2021</span>
            </div>
        </div>
    </div>
</footer>



</body>
</html>