<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Tedarikçi Profil</title>

</head>
<body id="body-pd">

<th:block layout:fragment="content" >

    <div class="container mt-2">

        <div class="row">
            <div class="card cal-sm-6 mt-2">
                <div class="card-title text-white">
                    <a th:href="@{'/suppliers'}" type="button" class="btn btn-sm btn-primary mt-2">
                        <i class="fas fa-list-ul"></i> Tüm Tedarikçiler Listesi </a>
                    <a th:href="@{'/storage'}" type="button" class="btn btn-sm btn-info mt-2">
                        <i class="fas fa-boxes"></i> Depo Stok & Stok Hareketlerini Görüntüle </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card col-sm-4 mt-2">
                <h5 class="card-title mt-2 text-primary"><b th:text="${sup.suname}"></b></h5>
                <ul class="list-group list-group-flush">

                    <h6 th:if="${sup.suactive} == 1" class="list-group-item text-success text-end" ><i><i  class='bx bxs-check-circle' ></i> Aktif Tedarikçi</i></h6>
                    <h6 th:if="${sup.suactive} == 2" class="list-group-item text-danger text-end" ><i><i  class='bx bxs-x-circle' ></i> İnaktif Tedarikçi</i></h6>

                    <label class="align-text-bottom" >Tedarikçi Borç</label>
                    <li class="text-center text-danger" th:text="${sup.sudebt}+' ₺'"></li>
                    <button type="button" class="btn btn-sm btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#PayDebt"><i class="fas fa-money-bill-wave"></i> Ödeme Gir </button>
                    <li class="list-group-item"></li>
                    <label class="align-text-bottom" >Tedarikçi Id</label>
                    <li class="list-group-item text-end" th:text="${sup.suid}"></li>
                    <label class="align-text-bottom" >Tedarikçi Mail</label>
                    <li class="list-group-item text-end" th:text="${sup.sumail}"></li>
                    <label class="align-text-bottom" >Tedarikçi Telefon</label>
                    <li class="list-group-item text-end" th:text="${sup.sutel}"></li>


                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
                        <button data-bs-toggle="modal" data-bs-target="#SupUpdateModal"  type="button" class="btn-sm btn-warning mt-2" data-bs-dismiss="modal">Düzenle</button>
                        <a th:href="@{'/suppliers/delete/' + ${sup.suid}}" class="btn btn-danger btn-sm mt-2"><i class='bx bx-minus-circle'></i> Sil</a>
                    </div>
                </ul>
            </div>

            <div class=" col-sm-7 offset-md-1 mt-2">
                <div class="row">
                    <div class="card-header bg-primary table-hover text-white">
                        Tedarikçinin Faturaları
                    </div>
                    <div class="card col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center" scope="col">Fatura No</th>
                                <th class="text-center" scope="col">Toplam Fiyat</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="item, iter : ${buyingList}">
                                <td class="text-center" th:text="${item.bfaturaNo}"></td>
                                <td class="text-center" th:text="${item.btotalPrice}"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Supplier Update Modal -->
    <form  method="post" action="/suppliers-profile/update/ + ${sup.supid}"  id="form_modal_send">
        <div class="modal fade" id="SupUpdateModal" tabindex="-1" aria-labelledby="SupUpdateModalLabel" aria-hidden="true">
            <div class="modal-dialog model-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SupUpdateModalLabel">Tedarikçi Güncelle: <i class="text-primary" th:text="${sup.suname}"></i></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Modal-Structure-From-Start -->

                        <div class="row">

                            <div>
                                <label for="suname" class="align-baseline mt-1">İsim</label>
                                <input th:value="${sup.suname}" id="suname" name="suname" class="form-control form-control-sm mt-1 textarea" type="text"
                                       aria-label=".form-control-sm example"></input>
                            </div>

                            <div class="mt-2">
                                <label for="sumail" class="align-baseline mt-1">Mail</label>
                                <input th:value="${sup.sumail}" id="sumail" name="sumail" class="form-control form-control-sm mt-1 textarea" type="email"
                                       aria-label=".form-control-sm example"></input>
                            </div>

                            <div class="mt-2">
                                <label for="sutel" class="align-baseline mt-1">Tel No</label>
                                <input th:value="${sup.sutel}" id="sutel" name="sutel" class="form-control form-control-sm mt-1 textarea" type="text"
                                       aria-label=".form-control-sm example"></input>
                            </div>

                            <div class="mt-2">
                                <label for="sudebt" class="align-baseline mt-1">Borç</label>
                                <input th:value="${sup.sudebt}" id="sudebt" name="sudebt" value="0" class="form-control form-control-sm mt-1 textarea" type="number"
                                       aria-label=".form-control-sm example"></input>
                            </div>

                            <div class="mt-2">
                                <label for="suactive" class=" align-align-baseline mt-1">Aktif</label>
                                <select th:field="${sup.suactive}" id="suactive" name="suactive" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option value="1">Aktif</option>
                                    <option value="2">İnaktif</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <!-- Modal-Structure-From-End -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KAPAT</button>
                        <button type="submit" class="btn btn-success">DÜZENLE</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--Supplier Update Modal End-->

    <!-- Supplier Debt -->
    <form  action="/suppliers-profile/debt" method="post"  id="form_modal_send_1">
        <div class="modal fade" id="PayDebt" tabindex="-1" aria-labelledby="PayDebtLabel" aria-hidden="true">
            <div class="modal-dialog model-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="PayDebtLabel"> Yapılan Ödeme Miktarı <i class="text-primary" th:text="${sup.suname}"></i></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Modal-Structure-From-Start -->

                        <div class="row">

                            <div class="col-sm-6">
                                <label class="align-text-bottom">Güncel Borç</label>
                                <i class="text-warning text-end" th:text="${sup.sudebt}"></i>
                            </div>
                            <div>
                                <label for="sudebt" class="align-baseline mt-1">Miktar</label>
                                <input id="sudebt" name="sudebt" class="form-control form-control-sm mt-1 textarea" type="text"
                                       aria-label=".form-control-sm example"></input>
                            </div>

                        </div>
                    </div>

                    <!-- Modal-Structure-From-End -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KAPAT</button>
                        <button type="submit" class="btn btn-success">Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--Supplier Debt Modal End-->


</th:block>

</body>
</html>
